<header class="header">

  <nav class="nav-bar header__burger">
    
    <div class="menu header__menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#">Home</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#features">Product</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#pricing">Pricing</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#how-to-use">About</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </div>

    <div class="socials header__socials">
      <ul class="socials__list">
        <li class="socials__item">
          <a class="socials__link" href="#">
            <img src="imgs/header-imgs/social-media-icons/twitter-icon.svg" alt="Twitter icon." />
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#">
            <img src="imgs/header-imgs/social-media-icons/facebook-icon.svg" alt="Facebook icon." />
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#">
            <img src="imgs/header-imgs/social-media-icons/instagram-icon.svg" alt="Instagram icon." />
          </a>
        </li>
      </ul>
    </div>

    <div class="burger-menu">
      <span></span>
    </div>

  </nav>

  <nav class="nav-bar header__nav">

    <div class="menu header__menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">Home</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Products</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Pricing</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">About</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Contact</a>
        </li>
      </ul>
    </div>

    <div class="logo header__logo">
      <a href="#" class="logo__link">
        <img src="images/logo.png" alt="Logotype">
      </a>
    </div>

    <div class="socials header__socials">
      <ul class="social__list">
        <li class="social__item">
          <a href="#" class="social__link">
            <img src="images/socials/facebook.svg" alt="Facebook">
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <img src="images/socials/linkedin.svg" alt="Linkedin">
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <img src="images/socials/twitter.svg" alt="Twitter">
          </a>
        </li>
      </ul>
    </div>

  </nav>

  <section class="hero">
    <div class="hero__titles">
      <div class="hero__title">
        <h1 class="hero__title-text">The best products start with Figma</h1>
      </div>
      <div class="hero__subtitle">
        <p class="hero__subtitle-text">
          Most calendars are designed for teams.
        </p>
      </div>
    </div>
    <div class="hero__button">
      <a class="hero__button-text" href="#pricing">Try For Free</a>
    </div>
  </section>

</header>