<header>
    <div class="container">
        <nav class="header__nav">
            <div class="header__nav-menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
    
            <img src="images/logo.png" alt="Logotype">
    
            <div class="social-icons">
                <img src="images/socials/twitter.svg" alt="Twitter">
                <img src="images/socials/facebook.svg" alt="Facebook">
                <img src="images/socials/linkedin.svg" alt="LinkedIn">
            </div>
        </nav>   
    </div>
</header>