<main>
    <div class="container">

        <div class="hero">
            <div class="hero__title">
                <h1>The best products start with Figma</h1>
            </div>
    
            <div class="hero__text">
                <p>
                    Most calendars are designed for teams. Slate is designed for freelancers
                </p>
            </div>
    
            <button class="hero__button">
                <a href="#">Try For Free</a>
            </button>    
        </div>

        <div id="product" class="product">
            <div class="product__titles">
                <h2>Features</h2>
                <p>
                    Most calendars are designed for teams. 
                    Slate is designed for freelancers
                </p>
            </div>
            <div class="product__blocks">
                <div class="product__block">
                    <object class="product__element-image" data="image/svg+xml" type="image.svg"><img src="images/product/figures.svg" alt="Figures"></object>
                    <div class="product__block-title">
                        <h3>
                            OpenType features 
                            Variable fonts
                        </h3>
                    </div>
                    <div class="product__block-text">
                        <p>
                            Slate helps you see how 
                            many more days you need 
                            to work to reach your 
                            financial goal.
                        </p>
                    </div>
                </div>
                <div class="product__block">
                    <object class="product__element-image" data="image/svg+xml" type="image.svg"><img src="images/product/pencile.svg" alt="Pencile"></object>
                    <div class="product__block-title">
                        <h3>
                            Design with real data
                        </h3>
                    </div>
                    <div class="product__block-text">
                        <p>
                            Slate helps you see how 
                            many more days you need 
                            to work to reach your 
                            financial goal.
                        </p>
                    </div>
                </div>
                <div class="product__block">
                    <object class="product__element-image" data="image/svg+xml" type="image.svg"><img src="images/product/paint.svg" alt="Paint"></object>
                    <div class="product__block-title">
                        <h3>
                            Fastest way to 
                            take action
                        </h3>
                    </div>
                    <div class="product__block-text">
                        <p>
                            Slate helps you see how 
                            many more days you need 
                            to work to reach your 
                            financial goal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="product__video">
                <iframe 
                    width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/dQw4w9WgXcQ" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    
        <div class="trial">
            <div class="trial__block">
                <div class="trial__block-title">
                    <h2>
                        Fastest way to 
                        organize
                    </h2>
                </div>
                <div class="trial__block-text">
                    <p>
                        Most calendars are designed for teams. 
                        Slate is designed for freelancers
                    </p>
                </div>
                <div class="trial__block-button">
                    <span>Try For Free</span>
                </div>
            </div>
            <div class="trial__image">
                <img src="images/macbook.png" alt="Macbook">
            </div>
            
        </div>
    
        <div class="subscription">
            <div class="subscription__block">
                <div class="subscription__title">
                    <p>
                        At your fingertips
                    </p>
                </div>
                <div class="subscription__subtitle">
                    <h2>
                        Lightning fast 
                        prototyping
                    </h2>
                </div>
                <div class="subscription__text">
                    <p>Subscribe to our Newsletter</p>
                    <p>Available exclusivery on Figmaland</p>
                </div>
                <div class="subscription__form">
                    <input class="subscription__form-input" type="text">
                    <button class="subscription__form-button"></button>
                </div>
            </div>
            <div class="subscription__image">
                <object data="image/svg+xml" type="image.svg"><img src="images/subscription.svg" alt="Person"></object>
            </div>
        </div>
    
        <div class="partners">
            <div class="partners__title">
                <div class="partners__title-main">
                
                </div>
                <div class="partners__title-paragraph">
                
                </div>
            </div>
            <div class="partners__logos">
    
            </div>
            <div class="partners__button">
                
            </div>
        </div>
    
        <div class="testimonials">
    
        </div>
    
        <div id="pricing" class="pricing">
    
        </div>
    
        <div id="contact" class="contact">
    
        </div>
    </div>
</main>