.hero__titles {
    
}

.header {
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__title-text {
    font-family: var(--main-font);
    font-size: var(--title-font-size);
    color: var(--main-white-color);
    text-align: center;
}

.hero__subtitle-text {
    font-family: var(--main-font);
    font-size: var(--subtitle-font-size);
    color: var(--main-white-color);
    text-align: center;
}

.hero__button-text {
    font-family: var(--main-font);
    font-size: var(--main-text-font-size);
    color: var(--main-white-color);
    text-align: center;
}

.hero__button {
    height: 50px;
    text-align: center;
    background-color: var(--main-blue-color);
    border-color: var(--main-blue-color);
    border-radius: 35px;
}