.hero {
    background-image: url("../images/background.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content {
    padding-bottom: 240px;
    padding-top: 240px;
    max-width: 50%;
    text-align: left;
}

.hero__title-text {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 900;
    font-size: 74px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #fff;
}